    <!--  twitter widget start here  -->
    <div style="display:block;">
        <div style="clear:both;"></div>
        <div class="rsvp_twitter_widget">
            <div class="rsvp_twitter_right" >
                <img src="./../../../../assets/icons/twitter_bird.png" />
                <span>{{_currentItem?.TimeBefore}}</span>
                {{_currentItem?.TitleTrimed}}
            </div>
            <a (click)="getNext(_currentItem?.CounterId)" >
                 <img src="./../../../../assets/icons/twitter_left.png" />
            </a>
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <!--  twitter widget end here  -->