<div class="rsvp_fullwidth" style="margin-bottom: 100px;">
    <div *ngFor="let headline of item?.Headlines">
        <div data-id={{headline.CounterId}}>
            <headline-main [item]='headline' *ngIf="headline.CounterId ===0 "></headline-main>
            <headline-alert [item]='headline' *ngIf="headline.CounterId ===1" ></headline-alert>
            <headline-big [item]='headline' *ngIf="headline.CounterId ===2" ></headline-big>
            <headline-small [item]='headline' *ngIf="headline.CounterId ===3"></headline-small>
            <headline-pair [item]='headline' *ngIf="headline.CounterId ===4"></headline-pair>
            <headline-ad [item]='headline' *ngIf="headline.CounterId ===5"></headline-ad>
            <headline-adsecond [item]='headline' *ngIf="headline.CounterId ===6">></headline-adsecond>
        </div>
    </div>
     <twitter></twitter>
</div>